.admin{
   min-height: calc(100vh - 109px);
   margin-top: 56px;
   padding: 50px;
   background-color: rgb(44, 44, 44);
   color: rgb(185, 185, 185);
}

.product-adder{
   display: flex;
   align-items: center;
   justify-content: center;

}


.product-mngr{
   border: 1px solid black;
   border-radius: 25px;
   margin: 10px;
   padding: 10px;
   height: 450px;
   width: 30%;
   align-content: center;
}

.coupons{
   border: 1px solid black;
   border-radius: 5%;
   margin: 10px;
   padding: 10px;
   height: 450px;
   align-content: center;
   width: 30%;
}

.form-label div{
   margin-bottom: 3px;
}

.admin button{
   background-color: rgb(100, 100, 100);
   color: aliceblue !important;
   margin-top: 15px;
}
