.catalog{
   min-height: calc(100vh - 109px);
}

.top-msg{
   margin-top: 58px;
}

/* .products{
   
   width: 80%;
} */

.cart{
   width: 20%;
   background-color: rgb(48, 47, 47);
   color: white;
   position: fixed;
   top: 56px;
   right: 0;
   bottom: 0;
   inset: 56px 0 0 auto;
}