.catalog{
   background-image: url(/public/img/white-calico-fabric-cloth-background-texture_49683-5404.jpg);
   background-size: cover;
}

.top-msg{
   margin-top: 58px;
   color: rgb(92, 104, 89);
}

.cat-chooser{
   background-color: rgb(184, 146, 63) !important;
   margin: 2px;
}

.cat-chooser:hover{
   background-color: rgb(231, 167, 29) !important;
}

/* .products{
   
   width: 80%;
} */

/* .cart{
   width: 20%;
   background-color: rgb(48, 47, 47);
   color: white;
   position: fixed;
   top: 56px;
   right: 0;
   bottom: 0;
   inset: 56px 0 0 auto;
} */