.footerSet{
   background-color: rgb(42, 62, 66);
   color: white;
   font-weight: bold;
   height: 125px;
   letter-spacing: 1px;
}

.footerItem{
   margin-left: auto;
   margin-right: auto;
   padding-top: 50px;
}
