.menu{
   margin-top: 5px;
   display: flex;
   justify-content: space-around;
   height: 60px;
   align-items: center;
}

.nav-pos{
   position: fixed;
   top: 0;
}

.nav-width{
   
   width: 100vw;
}


body{
   background-color: lightgray;
}


.navbar-color{
   background-color: rgb(51, 92, 92);
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico');

.nav-title-font{
      font-family: "Pacifico", cursive;
      font-weight: 1; 
}