.menu{
   margin-top: 5px;
   display: flex;
   justify-content: space-around;
   height: 60px;
   align-items: center;
}

.nav-pos{
   position: fixed;
   top: 0;
}

.nav-width{
   
   width: 100vw;
}


body{
   background-color: lightgray;
}


.navbar-color{
   background-color: #536344;
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico');

.nav-title-font{
      font-family: "Pacifico", cursive;
      font-weight: 1; 
}

.cart-ico{
   padding: 5px;
   margin-left: 15px;
   margin-right: 25px;
   margin-top: 0px;
}

.cart-ico img{
   width: 40px;
}

.cart-btn{
   color: rgba(231, 231, 231, .8) !important;
}

.cart-btn:hover   {
   background-color: #7c9465 !important;
}



.right{
   margin-right: 25px;
}
